{% extends "partials/base.html" %}
{% load static %}
   
{% block title %}Edit{% endblock title %}
{% block body %}
    <div class= "body">
        <form action="{ % url 'movies:movie_update' movies.id % }" method="POST" enctype="multipart/form-data">
            <input type="hidden" value="{{ movies.id }}" name="movies">
            <h1>update movies here <br> "{{ movies.Title }}"<br/></h1>
            {% csrf_token %}
            {% comment %} {{ form.as_p }} {% endcomment %}
            <div>
                {{ form.Title.label_tag }}
                {{ form.Title }}
            </div>

              <div>
                {{ form.Director.label_tag }}
                {{ form.Director }}
            </div>

             <div>
                {{ form.Genre.label_tag }}
                {{ form.Genre }}
            </div>

            <div>
                {{ form.Release_date.label_tag }}
                {{ form.Release_date }}
            </div>

            <div>            
                {{ form.Postal.label_tag }}
                {{ form.Postal }}
            </div>
        <button type="submit" class="update"><a href="{ % url 'movies:edit' movie.id % }"></a>Update Movie</button>
        <button type="click" class="home"><a href="{ % url 'movies:movie_list' % }">Movies</a></button>

        {% comment %} <button><a href="{% url 'book:home' %}">Home Page</a></button> {% endcomment %}
    </form>

{% endblock body %}

