{% extends "partials/base.html" %}
{% load static %} 

{% block title %}Movie list{% endblock title %}

{% block body %}

<div class="conte">
    <h1>
        List of Movies
        <span>{% if request.user.is_authenticated %}
        {{ request.user }}</span>
        {% endif %}
    </h1>
    <ul>
        {% for movie in movies %}
            <li><a href="{% url 'movies:read_detail' movie.pk %}">{{ movie.Title }}</a></li>
        {% endfor %}
    </ul>
    <button class="butn"><a href="{% url 'movies:create' %}">Create</a></button>

</div>

{% endblock body %}
